<div data-role="choice-item" class="form-group form-inline ui-state-default">
  <input type="hidden" data-name="uniqueid" value="{{ id }}" />
  <input type="checkbox" name="question{{ id }}" />
  
  <textarea data-name="choice" placeholder="Type your choice here" rows="1" class="form-control">{{ title }}</textarea>  

  {{#if enable_scoring}}
  <label>Score</label>
  <input type="text" data-name="score" placeholder="Enter the score" value="{{ score }}"  class="form-control" />
  {{/if }}
  <label>..</label>
  <a data-role="delete-choice">X</a>
</div>
