<div>
    <h1>Feedback System</h1>
    <p>Configure the feeback message that you want to show to the participants</p>
    <hr />
    <div class="form-group">
        <div class="form-group">
            <label>Feedback Method</label>
            <select data-name="feedback-method" class="form-control">
                <option value="simple">Simple</option>
                <option value="custom">Custom</option>
                <!--<option value="grouped">Grouped</option>-->
            </select>
        </div>
    </div>
    <hr />
    <div class="form-group" data-section='feedback-form' data-form-name='simple'>
        <textarea rows="3" class="form-control" data-name="feedback-message" placeholder="Type the feedback message..."></textarea>
    </div>
    <div data-section="feedback-form" data-form-name='custom'>
        <div class="form-group">
            <ul data-name="grade-list"> </ul>
        </div>
        <div class="form-group">
            <div class="form-group">
                <input type="text" class="form-control" data-name="grade-name" placeholder="Grade" /> </div>
            <div class="form-group">
                <span>Score >=</span>
                <input type="number" class="form-control" data-name="score" placeholder="Type the score required to get this grade" /> </div>
            <div class="form-group">
                <textarea class="form-control" data-name="feedback" placeholder="Type your feedback for this grade"></textarea>
            </div>
            <div>
                <button class="btn btn-primary" data-action="add-feedback">Add</button>
                <button class="btn btn-primary" data-action="clear-form">Cancel</button>
            </div>
        </div>
    </div>
</div>