<div data-role="initial-setup">
    <div class="form-group">
        <span class="input input--hoshi">
            <input data-name="assessment-title" class="input__field input__field--hoshi" type="text" id="input-4">
            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                <span class="input__label-content input__label-content--hoshi">Title</span>
            </label>
        </span>
    </div>
    <div class="form-group">
        <span class="input input--hoshi">
            <div data-role="editor" data-name="assessment-description" class="input__field input__field--hoshi jqx-widget jqx-editor-inline" contenteditable="true" data-placeholder="Enter your description" id="input-4"></div>
            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4"> </label>
        </span>
    </div>
    <div class="form-group" data-section="retake">
        <label>Retake Limit</label>
        <p class="well form-inline">Note: Setting retake limit to -1, will allow the user to retake this assessment infinite times.
            <input type="number" class="form-control" data-name="retake" placeholder="Enter the retake limit for this assessment"> </p>
    </div>
    <div class="form-group form-inline">
        <p>How you want to present your questions to the participant?</p>
        <div>
            <p>
                <input type="radio" value="one-by-one" name="staging-method" /> Show only one question at once</p>
        </div>
        <div>
            <p>
                <input type="radio" value="all-at-once" name="staging-method" /> Show all questions in the same page</p>
        </div>
    </div>
    <div data-section="scoring-method">
        <div class="form-group">
            <label>Scoring Method</label>
            <dl class="dl-horizontal">
                <dt>
                    <label>
                        <input type="radio" name="scoring-method" value="any" />Any</label>
                </dt>
                <dd>Full score will be given for a question, on selecting any one correct choice</dd>
                <dt>
                    <label>
                        <input type="radio" name="scoring-method" value="divide" />Divide</label>
                </dt>
                <dd>Scores will be divided based on the no.of.correct choices, the user selects for a question</dd>
                <dt>
                    <label>
                        <input type="radio" name="scoring-method" value="all" />All</label>
                </dt>
                <dd>Full score will be given for a question, only when the user selects all the correct choices</dd>
            </dl>
        </div>
    </div>
</div>