<div data-name="play-question" data-qid="{{ id }}">
    <div>
        <p>{{{title}}}</p>
    </div>
    <div data-choice-type="{{ type }}">
        <div class="form-group" data-choice-item>
           <input type="text" class="form-control"  />
        </div>
    </div>
</div>
