<div data-section="scoring-method">
    <div class="form-group">
        <dl>
            <dt>
                <label>
                    <input type="radio" name="scoring-method" value="any" />Any</label>
            </dt>
            <dd>Full score will be given for a question, on selecting any one correct choice</dd>
            <dt>
                <label>
                    <input type="radio" name="scoring-method" value="divide" />Divide</label>
            </dt>
            <dd>Scores will be divided based on the no.of.correct choices, the user selects for a question</dd>
            <dt>
                <label>
                    <input type="radio" name="scoring-method" value="all" />All</label>
            </dt>
            <dd>Full score will be given for a question, only when the user selects all the correct choices</dd>
        </dl>
    </div>
</div>
