<div>
    <div data-section="head"> </div>
    <div data-section="body"></div>
    <div data-section="footer">
        <div class="form-group">
            <button class="btn btn-primary" data-action="save">Save</button>
            <button class="btn btn-default" data-action="cancel">Cancel</button>
        </div>
    </div>
</div>